Acronym-Creator/.ipynb_checkpoints/Acronym Creator-checkpoint.ipynb
BMI-Calculator/.ipynb_checkpoints/BMI-Calculator-checkpoint.ipynb
Dice-Roll-Simulator/.ipynb_checkpoints/Dice-Roll-Simulator-checkpoint.ipynb
Email-Slicer/.ipynb_checkpoints/Email-Slicer-checkpoint.ipynb
Fahrenheit-Celsius-Conversion/.ipynb_checkpoints/Fahrenheit-Celsius-Conversion-checkpoint.ipynb
Password-Generator/.ipynb_checkpoints/Password-Generator-checkpoint.ipynb
Quiz-Game/.ipynb_checkpoints/Quiz-Game-checkpoint.ipynb
Rock-Paper-Scissor/.ipynb_checkpoints/Rock-Paper-Scissor-checkpoint.ipynb
Roman-Numbers-To-Decimals/.ipynb_checkpoints/Roman-Numbers-To-Decimals-checkpoint.ipynb
Sentence-Mimiker/.ipynb_checkpoints/Sentence-Mimiker-checkpoint.ipynb
